<!DOCTYPE html>
<html>
    <head>
        <title>Dinamico</title>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body style="background-color:rgba(40, 44, 52, 0.973);" >
        <header>
            <h1>Flashcards Apps</h1>
            {% include "cards/navigation.html" %}
        </header>
        <main>
            {% block content%}
                <h2> Welcome to your Flashcards app! </h2>
            {% endblock content%}
        </main>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</html>