<!DOCTYPE html>
{% extends 'cards/base.html' %}

{% block content %}
{% load humanize %}
    <h2> 
        All cards   
    </h2>
    <a style="color:aliceblue" href="{% url 'card-create' %}" role="button">
        ✨ Create New Card
    </a>
    {% for card in card_list %}
        {% ifchanged %}
            <h3 style="color:aliceblue"> {{card.box | ordinal}}  Box</h3>
        {% endifchanged %}
        <article style="color:aliceblue">
            {{ card }}
        </article >
        {% include 'cards/card.html'%}
    {% endfor %}
{% endblock %}